.photoViewer {
  .closeBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2001;
    color: white;
    opacity: 0.5;
    font-size: 24px;
  }

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 2000;

    swiper {
      height: 100%;
    }
    .resource {
      width: 100%;
      height: 100%;
    }
  }

  .preview {
    &.hidden {
      visibility: hidden;
    }
    .photoItem {
      width: 159px;
      height: 159px;
      display: inline-block;
      margin-top: -8px;
      margin-right: 2px;
      position: relative;

      .resource {
        width: 100%;
        height: 100%;
        &.previewVideo {
          position: absolute;
          top: 0;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
