.memorias {
  .memoriaCard {
    margin-bottom: 20px;
    .image {
      width: 145px;
      height: 145px;
    }
  }
  .fabBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    &.memoriaBtn {
      right: 20px;
      bottom: 100px;
    }
    &.individualBtn {
      right: 100px;
      bottom: 30px;
    }
  }
}
