.memorias {
  padding-bottom: 160px;
  .memoriaCard {
    margin-bottom: 20px;

    .cardContent {
      height: 145px;
      display: flex;
      .image {
        width: 145px;
        height: 100%;
      }
      .feeling {
        display: inline-block;
        flex: 1;
        padding: 20px;
        overflow: hidden;
      }
      .at-icon-edit {
        font-size: 40px;
      }
    }
  }
  .fabBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    &.topBtn {
      right: 20px;
      bottom: 150px;
    }
    &.leftBtn {
      right: 150px;
      bottom: 30px;
    }
  }
}
