.memorias {
  padding-bottom: 160px;
  .memoriaCard {
    margin-bottom: 20px;

    .cardContent {
      height: 145px;
      display: flex;
      .image {
        width: 145px;
        height: 100%;
      }
      .feeling {
        display: inline-block;
        flex: 1;
        padding: 20px;
        overflow: hidden;
      }
      .icon {
        display: flex;
        flex-direction: column;

        .at-icon-edit,
        .at-icon-loading-3 {
          font-size: 40px;
        }
        .at-icon-loading-3 {
          color: red;
          margin-bottom: 20px;
          animation: warning-loading linear 1s infinite;
        }
      }
    }
  }
  .fabBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    &.topBtn {
      right: 20px;
      bottom: 150px;
    }
    &.leftBtn {
      right: 150px;
      bottom: 30px;
    }
  }
}

@keyframes warning-loading {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
