.expressTask {
  .unpickCount {
    margin-left: 24px;
    margin-bottom: 8px;
  }
  .card {
    margin-bottom: 8px;
    .task {
      display: flex;
      align-items: center;
      font-weight: bold;
      position: relative;
      height: 60px;
      margin: 6px;
      .note {
        color: #999;
        font-size: 25px;
        margin-left: 10px;
      }
      .time {
        margin-left: auto;
        margin-right: 56px;
        color: #999;
      }
      .removeBtn {
        position: absolute;
        top: 8px;
        right: 0;
      }
    }
  }

  .fabBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

  .addingItem {
    border: 1px solid grey;
    margin: 6px;
    padding: 2px 6px;
    .picker {
      height: 33px;
    }
  }
}
